services:
  backend:
    build: ./backend
    container_name: drivezone-backend
    ports:
      - "3113:3113"
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: drivezone-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: drivezone-mongo
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
